html, body {
	text-align: center;
	
	margin: 0 auto;
}


.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: prompt;
    font-size: 500%;
    animation: fadeIn 4s;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    padding-right: 190px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@font-face {
	font-family: 'newfont';
	src: url(Fonts/goboldblockyitalic.otf);
	font-style: normal;
	font-weight: 100;
	font-size: 200%;
}

@font-face {
	font-family: 'raleway';
	src: url(Fonts/Raleway.ttf);
	font-style: normal;
	font-weight: 100;
	font-size: 200%;

}

@font-face {
  font-family: 'prompt';
  src: url(Fonts/PromptLight.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'promptreg';
  src: url(Fonts/PromptReg.ttf);
  font-style: normal;
  font-weight: 100;
}

h1{
  
  font-family: prompt;
  color: white;
  font-weight: 100;
  font-size: 260%;
  color:rgb(255,255,255)



}


h1 span {
  font-size: 150%
}

.jobtitle {
  font-family: prompt;
  color: white;
  font-weight: 100;
  font-size: 260%;
  color:rgb(255,255,255);
  animation: fadeIn 4s;
}

.joblogo {
  animation: fadeIn 4s;

}

hr { 
    border-color: white;
    display: block;
    margin-top: -1em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1.5px;
    animation: fadeIn 4s;
}
.hr1 {  
    border-color: black;
    display: block;
    margin-top: -1em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
 }

h2{
  padding-left: 0.5cm;
  animation: fadeIn 4s;
  font-family: prompt;
  color: white;
  font-size: 285%;
}

.aboutme{
  padding-left: 0.5cm;
  animation: fadeIn 4s;
  font-family: prompt;
  color: white;
  font-size: 400%;
}

.p1{
  font-family: prompt;
  color: white;
  font-size: 120%;
  animation: fadeIn 4s;
  
}
ul{
  font-size: 125%;
  animation: fadeIn 4s;
}


.img1 {
  animation: fadeIn 4s;
	border-radius: 25%
    
}
.guitarpic {
  animation: fadeIn 4s;
    
}
.img2 {
	width: 50%
    
}
.soundcloud {
  animation: fadeIn 4s;
  
    
}
p {
	font-family: raleway;
	color: white;
  padding-left: 3cm;
  padding-right: 3cm;
}

.para2 {
  background color: black;
  font-family: prompt;
  color: black;
  font-weight: 100;
  font-size: 260%;
  

}



.fa {
    padding: 20px;
    font-size: 100px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #881616;
    color: white;
}
.fa-linkedin {
    background: #162887;
    color: white;
}
.fa-file {
  background: #E27777;
  color: white;
}
.fa-soundcloud {
  background: #FE6D35;
  color: white;
  resize: 150%
}

.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 15%
}

.btn:hover {opacity: 0.6}


@keyframes invis{
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes invisFade {
  0% { opacity: 0; }
  50% {opacity: 0; }
  100% { opacity: 1; }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  } 

  to {
    opacity: 1;
  }
}


.line {


  font-family: prompt;
  color: white;
  font-weight: 100;
  font-size: 270%;


      position: relative;
      top: 50%;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

.line span {
  font-size: 125%
}

.anim-typewriter {
      animation: typewriter 2s steps(20) 1s 1 normal both,
      blinkTextCursor 850ms steps(40) infinite normal;
}
 
@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 8.5em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}